@page
@model IdeaTree.Pages.Admin.IdeasModel

@{
    Layout = "_Layout";
    ViewData["Title"] = "Ideas";
    ViewData["IdeasNavActive"] = "active";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">
                        <table class="table" id="ideatable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Idea[0].Title)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Idea[0].PostDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Idea[0].ModifyDate)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Idea[0].Status)
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Idea)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Title)
                                            <span style="display:none;">
                                                @Html.DisplayFor(modelItem => item.Description)
                                            </span>
                                            

                                            <!-- Modal -->
                                            <div class="modal fade" id="Ideadescmodel-@item.ID" tabindex="-1" role="dialog" aria-labelledby="Label-@item.ID" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="Label-@item.ID">@item.Title</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            @item.Description
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.PostDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.ModifyDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            <a asp-page="./Edit" asp-route-id="@item.ID">Edit</a> |
                                            <!-- Button trigger modal -->
                                            <button type="button" class="btn btn-success btn-sm" data-toggle="modal" data-target="#Ideadescmodel-@item.ID">
                                                Details
                                            </button> |
                                            <a asp-page="./Delete" asp-route-id="@item.ID">Delete</a>
                                        </td>
                                    </tr>
                                }
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section style {
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section scripts {
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#ideatable').DataTable();
        });
    </script>
}

