@page
@model IdeaTree.Pages.Admin.UsersModel

@{
    ViewData["Title"] = "Users";
    ViewData["UsersNavActive"] = "active";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<div class="content">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <div class="card">
                    <div class="card-body">

                        <table class="table datatable">
                            <thead>
                                <tr>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Member[0].Name)
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Member[0].Phone)
                                    </th>
                                    <th>
                                        Create Date
                                    </th>
                                    <th>
                                        @Html.DisplayNameFor(model => model.Member[0].Status)
                                    </th>
                                    <th>
                                        Type
                                    </th>
                                    <th>
                                        Last Logon
                                    </th>
                                    <th></th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.Member)
                                {
                                    <tr>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Name)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Phone)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.CreateDate)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.Status)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.MType)
                                        </td>
                                        <td>
                                            @Html.DisplayFor(modelItem => item.LastLogon)
                                        </td>
                                        <td>
                                            <a href="@Url.Content("~/admin/edituser?id=" + item.ID)">Edit</a> |
                                            <a href="#" data-toggle="modal" data-target="#Userdetailmodel-@item.ID">
                                                Details
                                            </a>
                                            <!-- Modal -->
                                            <div class="modal fade" id="Userdetailmodel-@item.ID" tabindex="-1" role="dialog" aria-labelledby="Label-@item.ID" aria-hidden="true">
                                                <div class="modal-dialog" role="document">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <h5 class="modal-title" id="Label-@item.ID">@item.Name</h5>
                                                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                                <span aria-hidden="true">&times;</span>
                                                            </button>
                                                        </div>
                                                        <div class="modal-body">
                                                            <table class="table">
                                                                <tr>
                                                                    <td>Phone</td>
                                                                    <td>@item.Phone</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Email</td>
                                                                    <td>@item.Email</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Country</td>
                                                                    <td>@item.Country</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Password Generate Date</td>
                                                                    <td>@item.PasswordGenerateDate</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Create Date</td>
                                                                    <td>@item.CreateDate</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Status</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.Status)</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Member Type</td>
                                                                    <td>@Html.DisplayFor(modelItem => item.MType)</td>
                                                                </tr>
                                                                <tr>
                                                                    <td>Image</td>
                                                                    <td>
                                                                        @if (string.IsNullOrEmpty(item.Image))
                                                                        {
                                                                            <img src="@Url.Content(item.Image)" style="max-height:100px; max-width:100px" />
                                                                        }
                                                                </td>
                                                            </tr>
                                                            <tr>
                                                                <td>Newsletter</td>
                                                                <td>@Html.DisplayFor(modelItem => item.Newsletter)</td>
                                                            </tr>
                                                            <tr>
                                                                <td>Last Logon</td>
                                                                <td>@Html.DisplayFor(modelItem => item.LastLogon)</td>
                                                            </tr>
                                                        </table>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </td>
                                </tr>
                            }
                            </tbody>
                        </table>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section style {
    <link href="//cdn.datatables.net/1.10.19/css/jquery.dataTables.min.css" rel="stylesheet" />
}
@section scripts {
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <script src="//cdn.datatables.net/1.10.19/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('.datatable').DataTable();
        });
    </script>
}



