@model IdeaTree.Models.IdeaPublicModel
@{
    ViewData["Title"] = Model.idea != null ? Model.idea.Title : "";
    int cCounter = 1;
}

<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script type="text/javascript" src="~/html5gallery/html5gallery.js"></script>

<style>
    body {
        background-color: #f5f5f5;
    }

    .imagePreview {
        width: 100%;
        height: 100px;
        background-position: center center;
        background: url(http://cliquecities.com/assets/no-image-e3699ae23f866f6cbdf8ba2443ee5c4e.jpg);
        background-color: #fff;
        background-size: cover;
        background-repeat: no-repeat;
        display: inline-block;
        box-shadow: 0px -3px 6px 2px rgba(0,0,0,0.2);
    }

    .btn-primary {
        display: block;
        border-radius: 0px;
        box-shadow: 0px 4px 6px 2px rgba(0,0,0,0.2);
        margin-top: -5px;
    }

    .imgUp {
        margin-bottom: 15px;
    }

    .del {
        position: absolute;
        top: 0px;
        right: 15px;
        width: 30px;
        height: 30px;
        text-align: center;
        line-height: 30px;
        background-color: rgba(255,255,255,0.6);
        cursor: pointer;
    }

    .imgAdd {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        background-color: #4bd7ef;
        color: #fff;
        box-shadow: 0px 0px 2px 1px rgba(0,0,0,0.2);
        text-align: center;
        line-height: 30px;
        margin-top: 0px;
        cursor: pointer;
        font-size: 15px;
    }
</style>

<div class="row">
    <div class="col-md-12">
        @if (Model.idea != null)
        {
            <h1 class="center">
                <span class="IdeaTitle">
                    @Model.idea.Title
                </span>
                @if (Model.IsAdminOrOwner)
                {
                    <span class="fas fa-pencil-alt btn-EditTitle" title="Edit Title"></span>
                }

            </h1>

            <p class="center">
                <small>
                    @Model.idea.PostDate.ToString("d MMM yyyy")
                    @if (Model.idea.PostedBy != null)
                    {
                        var imagepath = Model.idea.PostedBy.Image;
                        if (!string.IsNullOrEmpty(imagepath))
                        {
                            imagepath = "<img src='/ProfileImages/" + imagepath + "' class='circleImage' />";
                        }
                        else
                        {
                            imagepath = "<i class='far fa-user'></i>";
                        }

                        @Html.Raw(imagepath + " by " + Model.idea.PostedBy.Name)
                    }
                    &nbsp;&nbsp;<i class='fa fa-comments-o' title="Comments"></i> @Model.Comments.Count()
                    &nbsp;&nbsp;<i class='fa fa-thumbs-o-up' title="Votes"></i> @Model.VoteCount
                </small>
            </p> <br />

            var ideaimage = @Model.idea.IdeaImage;

            if (Model.IsAdminOrOwner)
            {
                @if (Model.idea.Video != null || Model.idea.IdeaImage != null)
                {
                    <span class="fas fa-pencil-alt btn-EditVideo" style="margin-left: 0px;margin-top: -4px;margin-bottom: -4px;" title="Edit Video & Images">Edit Video&Images</span>

                }

            }

            <div style="display:none;" class="html5gallery" data-skin="gallery" data-width="780" data-height="272">
                <!-- Add images to Gallery -->
                @foreach (var img in Model.idea.IdeaImage)
                {
                    <a href="~/images/@img.Image"><img src="/images/@img.Image" alt="@img.Image"></a>

                }
                @if (Model.idea.Video != null)
                {

                    <input type="text" asp-for="idea.Video" id="TxtUrl" name="video" class="form-control" />
                    <!-- Add Youtube video to Gallery -->
                    <a href="@Model.idea.Video" id="video"><img src="https://qphs.fs.quoracdn.net/main-qimg-8d607f599a4b49a5be3805d0736654ff" id="thumbnail" alt="Embedd Video"></a>
                }
            </div>


            <p class="text-break text-justify">

                <span class="idea-description">
                    @Html.Raw(System.Net.WebUtility.HtmlEncode(Model.idea.Description).Replace("\n", "<br />"))
                </span>
                @if (Model.IsAdminOrOwner)
                {
                    <span class="fas fa-pencil-alt btn-EditDescription" title="Edit Description"></span>
                }
            </p>

            <br />
            <ul class="list-group list-group-horizontal-md">
                <li class="list-group-item"><button class="btn btn-link" onclick="SubmitVote(this);"><i class="@Html.Raw(Model.HasVoted ? "fas" : "far") fa-thumbs-up fa-2x"></i><span class="votecounter">@Model.VoteCount</span></button></li>
            </ul>
            <br />
            <ul class="nav nav-tabs" id="ideaPageTab" role="tablist">
                <li class="nav-item ">
                    <a class="nav-link active" id="discussion-tab" data-toggle="tab" href="#discussion" role="tab" aria-controls="discussion" aria-selected="true">Discussion</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" id="moreideas-tab" data-toggle="tab" href="#moreideas" role="tab" aria-controls="moreideas" aria-selected="false">More From @Model.idea.PostedBy.Name</a>
                </li>
            </ul>
            <div class="tab-content" id="ideaPageTabContent">
                <div class="tab-pane active border-right border-left border-bottom" id="discussion" role="tabpanel" aria-labelledby="discussion-tab">

                    @if (Context.User.Identities.Any(i => i.IsAuthenticated))
                    {
                        <div class="p-3">
                            <div class="form-group ">
                                <textarea rows="5" id="commenttxt" style="width:100%;" placeholder="What do you think about this idea, write it here."></textarea>
                            </div>
                            <button type="button" class="btn btn-primary" onclick="SubmitComment();">Post Comment</button>
                        </div>
                    }
                    else
                    {
                        <p class="p-3 center dullbg">
                            Only logged in members can post comment.
                        </p>
                    }
                    <div class="table-responsive p-3 mt-2">
                        <table class="table table-striped">
                            <tbody>
                                @foreach (var c in Model.Comments)
                                {
                                    <tr class="border-bottom">
                                        <td>
                                            @if (string.IsNullOrEmpty(c.PostedBy.Image))
                                            {

                                                <i class="far fa-3x fa-user"></i>
                                            }
                                            else
                                            {

                                            }
                                        </td>
                                        <td>
                                            <div>
                                                <span class="font-weight-bold">@c.PostedBy.Name</span> <small class="right">@c.CreateDate.ToString("d MMM yyyy")</small>
                                                @if (Context.User.Identities.Any(i => i.IsAuthenticated))
                                                {
                                                    if (Context.User.Identity.Name == c.PostedBy.Phone)
                                                    {
                                                        <button class="btn btn-link" onclick="DeleteComment(@c.ID)"><i class="far fa-trash-alt"></i></button>
                                                    }

                                                }
                                            </div>
                                            <p class="pt-2">
                                                @Html.Raw(System.Net.WebUtility.HtmlEncode(c.Content).Replace("\n", "<br />"))
                                            </p>
                                        </td>
                                    </tr>
                                }
                                @if (Model.Comments.Count == 0)
                                {
                                    <tr>
                                        <td class="dullbg"><p class="font-italic m-3 "><i class="far fa-comments"></i> No Comments Yet.</p></td>
                                    </tr>
                                }
                            </tbody>

                        </table>
                    </div>
                </div>
                <div class="tab-pane" id="moreideas" role="tabpanel" aria-labelledby="moreideas-tab">
                    <table class="table mt-3 table-bordered">
                        <tbody>
                            @foreach (var item in Model.OtherIdeasFromOwner)
                            {
                                <tr>
                                    <td>
                                        <h4 class="card-title"><a href="@Url.Content("~/Idea/" + IdeaTree.Utility.TextToURL(item.Title))"><i class="far fa-lightbulb"></i> @item.Title</a></h4>
                                        <p class="card-text">@item.Description.Substring(0, item.Description.Length > 100 ? 100 : item.Description.Length)</p>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
    </div>
</div>

@if (Model.IsAdminOrOwner)
{
    @*Edit Modal*@
    <div class="modal fade" id="EditModal" role="dialog">
        <div class="modal-dialog">
            <div class="modal-content">
                <form method="post" asp-action="EditIdea" id="frmUpdateIdea">
                    <input type="hidden" asp-for="idea.ID" name="Id" />
                    <div class="modal-header">
                        <h5 class="modal-title"></h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body"></div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-save">Save changes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>

}


@*//edit modal for images and video*@
@if (Model.IsAdminOrOwner)
{
    @*Edit Modal*@
    <div class="modal fade" id="EditImagesVideoModal" role="dialog">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <form method="post" asp-action="EditIdea" id="frmUpdateIdeaImgVideo" enctype="multipart/form-data">
                    <input type="hidden" asp-for="idea.ID" name="Id1" />
                    <input type="hidden" name="AllImagepath" id="AllImagepath" />
                    <div class="modal-header">
                        <h5 class="modal-title">Edit Video and Images</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <label asp-for="idea.Video">YouTube Video</label>
                        <input type="text" name="video" id="videourl" class="form-control" />
                        <br />
                        @if (Model.idea.IdeaImage != null)
                        {
                            @foreach (var img in Model.idea.IdeaImage)
                            {
                                cCounter++;
                                <div class="Idea-pic">
                                    <img src="/images/@img.Image" alt="@img.Image" name="Images" id="Images1" height="108" width="95">
                                    <i class="fa fa-times delgg"></i>


                                </div>
                            }
                        }
                        <br />
                        <div class="row">
                            <div class="col-md-3 imgUp">
                                <div class="imagePreview"></div>
                                <label class="btn btn-primary">
                                    Upload<input type="file" class="uploadFile img" value="Upload Photo" Name="uploadImage[0]" multiple style="width: 0px;height: 0px;overflow: hidden;">
                                </label>
                            </div>
                            @if (cCounter < 5)
                            {
                                <i class="fa fa-plus imgAdd"></i>

                            }

                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="btn btn-success btn-saveImgVid">Save changes</button>
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
}


@section Scripts{
    @if (Context.User.Identities.Any(i => i.IsAuthenticated))
    {
        <script>
            function SubmitVote(ele) {
                $.ajax({
                    type: 'GET',
                    url: '@Url.Content("~/Idea/Vote/" + Utility.TextToURL(Model.idea.Title))',
                    success: function (data) {
                        if (data.result) {
                            if (data.voted) {
                                $(ele).children("i.fa-thumbs-up").removeClass("far");
                                $(ele).children("i.fa-thumbs-up").addClass("fas");
                            } else {
                                $(ele).children("i.fa-thumbs-up").removeClass("fas");
                                $(ele).children("i.fa-thumbs-up").addClass("far");
                            }
                            $(ele).children("span.votecounter").html(data.count);
                        } else {
                            alert(data.message);
                        }
                    }
                });
            }

            function SubmitComment() {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Content("~/Idea/PostComment/")',
                        data: { id: '@Utility.TextToURL(Model.idea.Title)', comment: $("#commenttxt").val() },
                        success: function (data) {
                            if (data.result) {
                                location.reload(true);
                            } else {
                                alert(data.message);
                            }
                        }
                });
            }

            function DeleteComment(id) {
                if (confirm('You are going to delete a comment.')) {
                    $.ajax({
                        type: 'POST',
                        url: '@Url.Content("~/Idea/DeleteComment/")',
                        data: { id: id },
                        success: function (data) {
                            if (data.result) {
                                location.reload(true);
                            } else {
                                alert(data.message);
                            }
                        }
                    });
                }
            }
        </script>
    }
    else
    {
        <script>
            function SubmitVote(ele) {
                alert("You are not logged in.");
            }
            function SubmitComment() {
                alert("You are not logged in.");
            }
            function DeleteComment(id) {
                alert("You are not logged in.");
            }

        </script>
    }
    @if (Model.IsAdminOrOwner)
    {
        <script>

            var count = @cCounter;
            var TotalCount = 0;
            var upcounter = 0;

            function UploadMultiple() {
                count++;
                TotalCount = +count;
                if (TotalCount >= 5) {
                    $(".imgAdd").addClass("hidden");
                }
            }

            $(".imgAdd").click(function () {
                UploadMultiple()
                $(this).closest(".row").find('.imgAdd').before('<div class="col-md-3 imgUp"><div class="imagePreview"></div><label class="btn btn-primary">Upload<input type="file" class="uploadFile img" value="Upload Photo"  name="uploadImage[' + [++upcounter] + ']" multiple  style="width:0px;height:0px;overflow:hidden;"></label><i class="fa fa-times del"></i></div>');
            });

            $(document).on("click", "i.del", function () {
                $(this).parent().remove();
                count--;
                $(".imgAdd").removeClass("hidden");
            });

            $("i.delgg").on("click", function () {
                debugger;
                var Imagepath = $(this).closest(".Idea-pic").find('img').attr('src');
                console.log(Imagepath);
                $('#AllImagepath').val(function (i, val) {
                    return val + (!val ? '' : ',') + Imagepath;
                            });

                $(this).closest('div.Idea-pic').remove();
                count--;

                $(".imgAdd").removeClass("hidden");
            });


            $(function () {
                $(document).on("change", ".uploadFile", function () {
                    var filesize = (this.files[0].size);
                    if (filesize > 5000000) {
                        alert('File is greater than 5Mb');
                    }
                    else {
                        var uploadFile = $(this);
                        var files = !!this.files ? this.files : [];
                        if (!files.length || !window.FileReader) return;
                        if (/^image/.test(files[0].type)) {
                            var reader = new FileReader();
                            reader.readAsDataURL(files[0]);
                            reader.onloadend = function () {
                                uploadFile.closest(".imgUp").find('.imagePreview').css("background-image", "url(" + this.result + ")");
                            }
                        }
                    }
                });
            });







            $(".btn-EditTitle,.btn-EditDescription").on("click", function () {
                var body = $('#EditModal').find('.modal-body').empty();
                var title = $('#EditModal').find('.modal-title').empty();
                if ($(this).hasClass('btn-EditTitle')) {
                    title.append("Edit Idea Title");
                    body.append(`<input type="text" name="IdeaTitle" value="${$(".IdeaTitle").text().trim()}" class="form-control" />`);
                }
                if ($(this).hasClass('btn-EditDescription')) {
                    title.append("Edit Idea Description");
                    body.append(`<textarea class="form-control" rows="8"id="Description" name="Description">${$(".idea-description").text().trim()}</textarea>`);
                }

                //if ($(this).hasClass('btn-EditVideo')) {
                //    debugger;
                //    title.append("Edit Idea YoutubeVideo");
                //    body.append(`<input type="text" name="video" value="${$("#TxtUrl").val()}" class="form-control" />`);
                //}
                $('#EditModal').modal('show');
            });

            $('#frmUpdateIdea').submit(function (e) {
                e.preventDefault();
                var $form = $(this);
                var posting = $.post($form.attr("action"), $form.serialize());
                posting.done(function (r) {
                    if (r == 'success') {
                        debugger;
                        $(`#${$form.closest("[role=dialog]").attr('id')}`).modal('hide');
                        if ($form.find('[name=IdeaTitle]').length > 0) {
                            var title = $('#frmUpdateIdea').find('[name=IdeaTitle]')[0].value.trim().replace(/\s+/g, "-");
                            window.location.href = `/Idea/${title}`;
                        }

                    } else {
                        alert(r);
                    }
                });
            });




            $(".btn-EditVideo").on("click", function () {
                $("#EditImagesVideoModal").modal('show');

            });

            //add video script
            $(document).ready(function () {
                debugger;
                var url = $("#TxtUrl").val();
    $("#videourl").val(url);
                //var id = url.substr(url.length - 11);

                ////In case youtube change video id length
                ////var id = url.substring(url.lastIndexOf('v=') + 2);
                //$("#video")[0].src = `//www.youtube.com/embed/${id}`;
                //$('#thumbnail').attr('src', 'http://img.youtube.com/vi/' + id + '/0.jpg');
                //$("#video").show();
            })

        </script>
    }

}
